{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block main %}
    <div class="confirmationbox">
        <h3>Add A Category</h3>
    <form class = "myform" method="post">
    <div class="form-group">
        <div class="form-label">Category Name: </div>
        <div class="form-element"><input type = "text" name = "Category" id ="Category" required></div>
    </div>
    <div class = "error">{{ fname_error }}</div>
        <div class = "form-group">
            <div class = "form-label"></div>
            <div class = "form-element"><input type="submit" value = "Submit" class="confirmationbutton"></div>
    </div>
    </form>
    </div>
{% endblock %}