{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block main %}
    <div class="confirmationbox">
        <h2>Word Admin</h2>
        <form action="/admin/word">
            <input type="submit" value="Edit Words" class="confirmationbutton">
        </form>
    </div>
    <div class="confirmationbox">
        <h2>Category Admin</h2>
        <form action="/admin/category">
            <input type="submit" value="Edit Categories" class="confirmationbutton">
        </form>
    </div>

{% endblock %}