<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Te Reo | Home</title>
    <meta name="viewport" content="width=device-width, initial_scale=1">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
<div class ="headingbanner">
        <h1 style="padding: 10px">Te Reo Dictionary</h1>
        <button onclick="openNav()" class="NavButton"><img src="/static/images/logo.png" style="width: 80px; height: 80px;"></button>
</div>
<div class="sidebar" id="mySidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/words">Dictionary</a>
    <div class="dropdown">
        <button class="sidebarbutton">Categories</button>
            <div class="dropdown-content">
                <a href = "/words/Actions">Actions</a>
                <a href = "/words/Animals">Animals</a>
                <a href = "/words/Clothing">Clothing</a>
                <a href = "/words/Culture-Religion">Culture - Religion</a>
                <a href = "/words/Descriptions">Descriptions</a>
                <a href = "/words/Emotions">Emotions</a>
                <a href = "/words/Food">Food</a>
                <a href = "/words/Math-Number">Math - Number</a>
                <a href = "/words/Outdoors">Outdoors</a>
                <a href = "/words/People">People</a>
                <a href = "/words/Places">Places</a>
                <a href = "/words/Plants">Plants</a>
                <a href = "/words/School">School</a>
                <a href = "/words/Sport">Sport</a>
                <a href = "/words/Technology">Technology</a>
                <a href = "/words/Time">Time</a>
            </div>
    </div>
    <div class="sidebarfooter">
        {% if is_teacher %}
            <a href="/admin">Admin</a>
        {% endif %}
        {% if is_logged_in %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        {% endif %}
    </div>


</div>
<div class="headingbanner">
    {% block search %}
    {% endblock %}
</div>

<div class="container">
    {% block main %}
    {% endblock %}
</div>
<script>
/* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>
</body>
</html>