{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block main %}

    <div class="confirmationbox">
        <h2>Are you sure you want to delete the {{ category }} from the list of Categories?</h2>
        <h4>The words will not be deleted.</h4>
        <form action="/deletecategoryconfirmed">
            <input type="submit" value="Delete" class="confirmationbutton">
        </form>
        <form action="/">
            <input type="submit" value="Do not Delete" class="confirmationbutton">
        </form>
    </div>
{% endblock %}