{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block main %}
    <div class="confirmationbox">
        <h3>Delete A Category</h3>
    <form class = "myform" method="post">
    <div class="form-group">
        <div class="form-label">Category: </div>
        <div class="form-element"><input type = "text" name = "Category" id ="Category" required></div>
    </div>
    <div class = "error">{{ fname_error }}</div>
    <form action="/admin/deletecategoryconfirmation/<Category>" >
        <input type="submit" value="Delete" class="wordbutton">
    </form>
    </form>
    </div>
{% endblock %}