{% extends 'base.html' %}
{% block navbar %}
    <div class="topnav">
        <a href="/full/1">Home</a>
        <a href="/full">Dictionary</a>
        <div class="dropdown">
            <button class="dropbtn">Categories
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">

            </div>
        </div>
        <div class="search-container">
            <form method="POST" action="/search">
                <input type="text" placeholder="Search.." name="search" id="search">
                <button type="submit"></button>
            </form>
        </div>
    </div>
{% endblock %}
{% block main %}
    <div class="dictionary">
        {% for words in fulldictionary %}
            <div class="word-box">
                <div class="word-box-word">
                    <h2>{{ words[0] }}</h2>
                    <h3>{{ words[1] }}</h3>
                    <h4 style="float:right">{{ words[2] }}</h4>
                </div>
                <div class="word-box-definition">
                    <p>{{ words[3] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock  %}