{% extends 'base.html' %}
{% block navbar %}
<div class="topnav">
    <a href="/">Home</a>
    <a href="/full">Dictionary</a>
    <div class="dropdown">
        <button class="dropbtn">Categories
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href = "/full/1">Actions</a>
            <a href = "/full/2">Animals</a>
            <a href = "/full/3">Clothing</a>
            <a href = "/full/4">Culture / Religion</a>
            <a href = "/full/5">Descriptions</a>
            <a href = "/full/6">Emotions</a>
            <a href = "/full/7">Food</a>
            <a href = "/full/8">Math / Number</a>
            <a href = "/full/9">Outdoors</a>
            <a href = "/full/10">People / Places</a>
            <a href = "/full/11">Plants</a>
            <a href = "/full/12">School / Sport</a>
            <a href = "/full/13">Technology</a>
            <a href = "/full/14">Time</a>
        </div>
    </div>

</div>
{% endblock %}
{% block main %}
    <form method="POST" action="/search" class="search-bar">
        <input type="text" placeholder="Rapunga..." name="search" id="search">
        <button type="submit"><img src="/static/images/search.png"></button>
    </form>
{% endblock %}