{% extends "base.html" %}

{% block main %}
<div class="confirmationbox">
    <form class="myform" method="POST">
        <div class = "form-group">
            <div class="form-label">Email:</div>
            <div class ="form-element"><input type="email" name="email" id="email" required></div>

        </div>
        <br>
        <div class="form-group">
            <div class="form-label">Password:</div>
            <div class="form-element"><input type="password" name="password" id="password" required></div>

        </div>
        <br>
        <br>
        <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"><input type="submit" value="Login" class="singuploginbutton"></div>
        </div>

    </form>
    <br>
    <br>
    <br>
    <p style="float:bottom;">If you don't yet have an accout, please <a href="/signup">sign up</a>.</p>
</div>

{% endblock %}