{% extends 'base.html' %}
{% block search %}
        <form method="POST" action="/search" class="search-bar-nonhome">
            <input type="text" placeholder="Rapunga..." name="search" id="search">
        <button type="submit"><img src="/static/images/search.png"></button>
    </form>
{% endblock %}
{% block main %}
    <div class="dictionary">
        {% for words in dictionary %}
            <div class="word-box">
                <div class="word-box-word">
                    <form action="/{{ words[0] }}">
                        <input type="submit" value="Details" class="wordbutton">
                    </form>
                    <h2>{{ words[1] }}</h2>
                    <h3>{{ words[2] }}</h3>
                    <h4 style="float:right">{{ words[3] }}</h4>
                </div>
                <div class="word-box-definition">
                    <p>{{ words[4] }}</p>
                    <p>Author: {{ words[6] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock  %}