{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block main %}
    <div class="dictionary">
        {% for word in word %}
            <div class="singularwordbox">
                {% if is_teacher %}
                    <form action="/deleteword/{{ word[0] }}">
                        <input type="submit" value="Delete">
                    </form>
                {% endif %}
                <div class="word-box-word">
                    <h2>{{ word[1] }}</h2>
                    <h3>{{ word[2] }}</h3>
                    <h4>Category: {{ word[3] }}</h4>
                </div>
                <div class="word-box-definition">
                    <p>{{ word[4] }}</p>
                    <p>Author: {{ word[6] }}</p>
                    {% if word[7] is none %}
                        <img src="/static/images/placeholder.png" style="width:200px; height: 200px;" >
                    {% else %}
                        <img src="/static/images/{{ word[7] }}">
                    {% endif %}
                </div>


            </div>
        {% endfor %}
    </div>
{% endblock %}