* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}
p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

header{
    font-weight: bold;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 60px;
    text-align: center;
}
body {
    background-color: #FEF5E7;
}