* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}
p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.headingbanner{
    display: flex;
    font-weight: bold;
    font-family: 'Helvetica', 'Arial', sans-serif;;
    background-color: transparent;
    position: relative;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
}
body {
    background-image: url("/static/images/newzealandfromspace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 60px;
    padding: 10px;
    background-color: rgba(0,0,0,.5);
    border-radius: 30px;
    align-items: center;
    text-align: center;
    color: #E5E7E9;
}

.wordbutton {
    float: right;
    border-radius: 50px;
    border: none;
    top:10px;
    right: 10px;
    width: 50px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.singuploginbutton {
    border-radius: 50px;
    border: none;
    top:10px;
    right: 10px;
    width: 50px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.center {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;
    height: 50%
}
.delete-button {
    float:right;
    right: 10px;
    top: 0px;
}
.NavButton {
    position: absolute;
    left: 0;
    border-radius: 50px;
    background-color: white;
}

.container {
    width: 90%;
    min-height: 63vh;
    padding: 5%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    border-radius:60px;
    color: white;
    padding: 10px 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
}

.search-bar button img {
    width: 25px;
}

.search-bar button{
    border:0;
    border-radius: 50%;
    width:60px;
    height:60px;
    background-color: rgba(0,0,0,.5);;
}

.search-bar-list {
    width: 105%;
    max-width: 700px;
    background: #713045;
    display: flex;
    align-items: center;
    border-radius:60px;
    padding: 1px 2px;
}

.search-bar-list input{
    background: transparent;
    border: 0;
    padding: 5px 2px;
    padding-top:20px;
    font-size: 20px;
    color: #cac7ff
}

.search-bar-list button img {
    width: 20px;
}

.search-bar-list button{
    border:0;
    border-radius: 50%;
    width:10px;
    height:10px;
    background-color:#713045;
}


/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    background-color: #111;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
    color:#f1f1f1;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dictionary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.word-box {
    width: 32%;
    border: 2px solid rgba(189, 195, 199, 1.0);
    color: white;
    margin-bottom: 0.5rem;
    background-color: rgba(0,0,0,.5);
}

.word-box-word {
    padding: 0.5rem;
}

.word-box-definition {
    padding: 0.5rem;
}

.confirmationbox {
    width: 100%;
    width: 500px;
    height: 250px;
    border: 2px solid rgba(189, 195, 199, 1.0);
    color: white;
    margin-bottom: 0.5rem;
    padding-top: 1%;
    text-align: center;
    background-color: rgba(0,0,0,.5);
}

.signupbox {
    width: 100%;
    width: 500px;
    height: 400px;
    border: 2px solid rgba(189, 195, 199, 1.0);
    color: white;
    margin-bottom: 0.5rem;
    padding-top: 1%;
    text-align: center;
    background-color: rgba(0,0,0,.5);
}

.confirmationbutton {
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 80%;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    border: none;
}

.singularwordbox {
    width: 100%;
    width: 500px;
    height: 400px;
    border: 2px solid rgba(189, 195, 199, 1.0);
    color: white;
    margin-bottom: 0.5rem;
    background-color: rgba(0,0,0,.5);
}
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebarfooter {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: absolute;
    bottom: 70px;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.sidebarbutton {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
transition: 0.3s;
    background-color: #111111;
    border: none;
}

.sidebarbutton:hover {
    background-color: #111111;
    color: #f1f1f1;
}
.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

.search-bar-nonhome {
    width: 100%;
    max-width: 700px;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    border-radius:60px;
    color: white;
}

.search-bar-nonhome input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
}

.search-bar-nonhome button img {
    width: 25px;
}

.search-bar-nonhome button{
    border:0;
    border-radius: 50%;
    width:60px;
    height:60px;
    background-color: rgba(0,0,0,.5);;
}

